<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Colleges</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/colleges.css') }}">
    </head>
    <body>
        <table>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Site</th>
                <th>Image</th>
            </tr>
            {% for college in colleges %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ college.name }}</td>
                    <td>{{ college.city }}</td>
                    <td>{{ college.state }}</td>
                    <td>{{ college.address }}</td>
                    <td>{{ college.phone }}</td>
                    <td>{{ college.site }}</td>
                    <td>{{ college.imageUrl }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
